<%= form_with(model: classes_setup, local: true) do |form| %>
  <% if classes_setup.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(classes_setup.errors.count, "error") %> prohibited this classes_setup from being saved:</h2>

      <ul>
      <% classes_setup.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :classes_setup_name %>
  </div>

  <div class="field">
    <%= form.label :area_of_study %>
    <%= form.text_field :area_of_study, id: :classes_setup_area_of_study %>
  </div>

  <div class="field">
    <%= form.label :area_id %>
    <%= form.number_field :area_id, id: :classes_setup_area_id %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, id: :classes_setup_description %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
