<p id="notice"><%= notice %></p>

<h1>Classes Setups</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Area of study</th>
      <th>Area</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @classes_setups.each do |classes_setup| %>
      <tr>
        <td><%= classes_setup.name %></td>
        <td><%= classes_setup.area_of_study %></td>
        <td><%= classes_setup.area_id %></td>
        <td><%= classes_setup.description %></td>
        <td><%= link_to 'Show', classes_setup %></td>
        <td><%= link_to 'Edit', edit_classes_setup_path(classes_setup) %></td>
        <td><%= link_to 'Destroy', classes_setup, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Classes Setup', new_classes_setup_path %>
