<%= javascript_include_tag 'nav', 'data-turbolinks-track': 'reload' %>

<section class="navigation">
  <div class="nav-container">
    <nav>
      <div class="nav-mobile">
        <a id="nav-toggle" href="#!"><span></span></a>
      </div>
      <ul class="nav-list">
        <li>
          <%= link_to "Professors", professors_path %>
        </li>
        <li>
          <%= link_to "Classes", courses_path %></li>
        </li>
        <li>
        	<%= link_to "Sections", sections_path %>
        </li>
        <li>
          <%= link_to "Enrollments", enrollments_path %>
        </li>
        <li>
          <%= link_to "Students", students_path %>
        </li>
        <li>
          <a href="#">User</a>
          <ul class="nav-dropdown">
            <li>
              <%= link_to "Login", new_user_session_path %>
            </li>
            <li>
              <%= link_to 'Log out',   
                destroy_user_session_path,
                method: :delete %>
            </li>
            <li>
              <%= link_to "Sign Up", new_user_registration_path %>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
  </div>
</section>